<h1>Esta es la vista en tiempo real</h1>

<div>
  <h1>Listado de productos</h1>
  <div id="product-list"></div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>

